[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
	precomposeunicode = true
[remote "origin"]
	url = git@github.carlosnunez.me:carlosonunez/docker-proxy
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
[user]
        name = Carlos Nunez
        email = 13461447+carlosonunez@users.noreply.github.com
        signingKey = D8630B5C2954B6091E8913EFE1FE98BBFDCADE05
